*.o
*.lo
*.la
*.pyc
*DS_Store
*~
external/infinite_mario/classes/com/
external/infinite_mario/classes/edu/
external/ale_0.4-2.4/ale_0_4/ale
external/ale_0.4-2.4/ale_0_4/doc/examples/RLGlueAgent
external/ale_0.4-2.4/ale_0_4/doc/examples/RLGlueExperiment
external/ale_0.4-2.4/ale_0_4/libale.so
external/ale_0.4-2.4/ale_0_4/makefile
external/c-codec-2.0/src/.deps/
external/c-codec-2.0/Makefile
external/c-codec-2.0/config.log
external/c-codec-2.0/config.status
external/c-codec-2.0/libtool
external/c-codec-2.0/src/.libs/
external/c-codec-2.0/src/Makefile
external/c-codec-2.0/tests/Makefile
external/python-codec/src/build/
external/rlglue-3.04/src/.deps/
external/rlglue-3.04/Makefile
external/rlglue-3.04/config.log
external/rlglue-3.04/config.status	
external/rlglue-3.04/src/.libs/
external/rlglue-3.04/src/rl_glue
external/rlglue-3.04/config.status
external/rlglue-3.04/src/Makefile
external/rlglue-3.04/tests/Makefile
external/15-rl-competition-2009/agents/helicopterAgentCPP/RL_agent
external/15-rl-competition-2009/agents/marioAgentJava/bin/
external/15-rl-competition-2009/agents/octopusAgentJava/bin/
external/15-rl-competition-2009/agents/randomAgentJava/bin/
external/15-rl-competition-2009/agents/tetrisAgentJava/bin/
external/15-rl-competition-2009/system/build/
external/15-rl-competition-2009/system/codecs/C/Makefile
external/15-rl-competition-2009/system/codecs/C/config.log
external/15-rl-competition-2009/system/codecs/C/config.status
external/15-rl-competition-2009/system/codecs/C/config/config.h
external/15-rl-competition-2009/system/codecs/C/config/stamp-h1
external/15-rl-competition-2009/system/codecs/C/libtool
external/15-rl-competition-2009/system/codecs/C/src/.deps/
external/15-rl-competition-2009/system/codecs/C/src/.libs/
external/15-rl-competition-2009/system/codecs/C/src/Makefile
external/15-rl-competition-2009/system/codecs/C/tests/.deps/
external/15-rl-competition-2009/system/codecs/C/tests/Makefile
external/15-rl-competition-2009/system/rl-glue/Makefile
external/15-rl-competition-2009/system/rl-glue/config.log
external/15-rl-competition-2009/system/rl-glue/config.status
external/15-rl-competition-2009/system/rl-glue/config/config.h
external/15-rl-competition-2009/system/rl-glue/config/stamp-h1
external/15-rl-competition-2009/system/rl-glue/libtool
external/15-rl-competition-2009/system/rl-glue/src/.deps/
external/15-rl-competition-2009/system/rl-glue/src/.libs/
external/15-rl-competition-2009/system/rl-glue/src/Makefile
external/15-rl-competition-2009/system/rl-glue/src/rl_glue
external/15-rl-competition-2009/system/rl-glue/tests/.deps/
external/15-rl-competition-2009/system/rl-glue/tests/Makefile
external/15-rl-competition-2009/trainers/consoleTrainerCPP/bin/
external/15-rl-competition-2009/trainers/consoleTrainerJava/bin/
external/15-rl-competition-2009/trainers/consoleTrainerPython/RL_experiment
