*.pyc
*.o
*DS_Store
*~
external/infinite_mario/classes/com/
external/infinite_mario/classes/edu/
external/ale_0.4-2.4/ale_0_4/ale
external/ale_0.4-2.4/ale_0_4/doc/examples/RLGlueAgent
external/ale_0.4-2.4/ale_0_4/doc/examples/RLGlueExperiment
external/ale_0.4-2.4/ale_0_4/libale.so
external/ale_0.4-2.4/ale_0_4/makefile
external/rlglue-3.04/
external/c-codec-2.0/
external/python-codec/
roms/*.bin
